$colours: (
    purple: #9356DC,
    pink: #FF79DA,
    green: #99E2D0,
    lightgrey: #f7f7f7
);

$breakpoints: (
    tablet : 768px,
    desktop: 992px
);

@mixin tablet-size {
    @media screen and (min-width: map-get($breakpoints, tablet)) and (max-width: map-get($breakpoints, desktop)) {
        @content; 
    }
}

@mixin desktop-size {
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    scroll-behavior: smooth;   
}

header {
    padding: 1rem;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
    display: flex;
    align-items: center;

    .logo {
        margin : auto; 
        width: 50%;
        @include tablet-size {
            width: 25%;
        }
        @include desktop-size {
            width: 20%;
        }    
    }
}

.restaurant-picture {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

main {
    background-color: map-get($colours, lightgrey );
    margin-top: -2rem;
    border-radius: 2rem 2rem 0 0;
    z-index: 1;
    position: relative;


    .title-block {
        padding: 2rem 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .restaurant-name {
        font-family: 'Shrikhand';
    }

    .menus {
        width: 90%;
        margin: auto;

        .plate-title {
            text-transform: uppercase;
            position: relative;
            padding-bottom: 0.5rem;
            margin: 20px 0;


            &:after {
                content: "";
                width: 3rem;
                height: 0.25rem;
                background-color: map-get($colours, green);
                left: 0;
                bottom: 0;
                position: absolute;
            }
        }

        .menu-item {
            background-color: #fff;
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            border-radius: 0.75rem;
            margin: 1rem 0;
            box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
            overflow: hidden;

            .price{
                font-weight: 700;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                padding-left: 0.5rem
            }
        }

        .order {
            display: flex;
        }

        button {
            margin: 50px auto;
            padding: 0.75rem 1.5rem;
            color: white;
            border-radius: 25px;
            border: transparent;
            box-shadow: 5px 8px 20px 0px rgb(0 0 0 / 54%);
            background: rgb(255,121,218);
            background: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
            font-size: 16px;
            &:hover{
                box-shadow: 5px 8px 20px 0px rgb(0 0 0 / 75%);
                cursor: pointer;
                transition-duration: 0.50s;
            }
        }
    }



}

footer {
    background-color: #353535;
    color: white;

    .footer-links {
        padding: 40px 0;
        margin: 0 40px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style-type: none;
    }
    
    .footer-title {
        font-family: 'Shrikhand';
        padding-bottom: 10px;
    }
    
    .footer-icon-text {
        display: flex;
        gap: 10px;
    }

    a {
        color: white;
        text-decoration: none;
    }

}